{template 'header','admin'}
{template 'navigation','admin'}
<div class="admin-content-wrapper">
    <div class="admin-content-heading">
        <b>管理员日志</b>
        <div class="b15"></div>
    </div>
    <div class="admin-content-body">
        <div class="container-fluid">
            <div class="admin-content-toolbar">
                <a href="?{$_SERVER['QUERY_STRING']}" title="刷新" class="btn btn-secondary"><i class="bi bi-arrow-repeat"></i></a>
                <div class="float-right">
                    <form method="get">
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">管理员ID</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="id" aria-label="Username" name="userid" value="{$qUserId}" pattern="\d" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="input-group">
                                    <input type="date" class="form-control" name="begdatetime" value="{date('Y-m-d', $starTime)}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">至</span>
                                    </div>
                                    <input type="date" class="form-control" name="enddatetime" value="{date('Y-m-d', $endTimes)}">
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary" name="toolbarSearch">查询</button>
                                {if $auth->authNode(22)}<button type="submit" class="btn btn-info" name="toolbarExport">导出</button>{/if}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-bordered table-striped text-center">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>管理员ID</th>
                    <th>管理员</th>
                    <th>操作页面</th>
                    <th>标题</th>
                    <th>内容</th>
                    <th>IP</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>
                {loop $list $k $v}
                <tr>
                    <td>{$v[id]}</td>
                    <td>{$v[admin_id]}</td>
                    <td>{$v[nickname]}</td>
                    <td align="left">{$v[url]}</td>
                    <td>{$v[title]}</td>
                    <td class="listcol-ellipsis-w200" title='{$v[content]}'>{$v[content]}</td>
                    <td>{$v[ip]}</td>
                    <td>{date('Y-m-d H:i:s', $v[addtime])}</td>
                </tr>
                {/loop}
                </tbody>
            </table>
            {pagination($pageTotal)}
        </div>
    </div>
</div>
{template 'footer','admin'}