{template 'header','admin'}
{template 'navigation','admin'}
<script>
    $(document).ready(function() {

    });

    function formCheck(){

        return true;
    }
</script>
<div class="admin-content-wrapper">
    <div class="admin-content-heading">
        <b>绑定登入二次验动态码</b>
        <div class="b15"></div>
    </div>
    <div class="admin-content-body">
        <div class="container-fluid">
            <form method="post" onsubmit="return formCheck();">
                <div class="form-group row">
                    <label for="colUserid" class="col-sm-2 col-form-label">用户ID</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="userid" readonly id="colUserid" value="{$profile[id]}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colUsername" class="col-sm-2 col-form-label">用户名</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="username" readonly id="colUsername" value="{$profile[username]}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">动态码绑定</label>
                    <div class="col-sm-5">
                        <img src="{$qrCodeUrl}">
                        <small id="qrCodeUrllHelp" class="form-text text-muted">第一步：打开手机APP：Authenticator，点+号扫描以上二维码。（首次使用请先下载AuthenticatorAPP）</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colNewPassword" class="col-sm-2 col-form-label">动态码</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="newcode" required id="colNewPassword" maxlength="32" value="" placeholder="输入动态码">
                        <small id="newcodeHelp" class="form-text text-muted">第二步：输入手机Authenticator应用上显示的动态码</small>
                        <small id="newsaveHelp" class="form-text text-muted">第三步：点击确认绑定按钮，看到提示绑定成功即可，如有其它错误，按提示操作</small>
                    </div>
                </div>
                <div class="text-center col-sm-7">
                    <input type="hidden" name="secret" value="{$secret}">
                    <button type="submit" class="btn btn-primary" name="save">确认绑定</button>

                </div>
            </form>
        </div>
    </div>
</div>
{template 'footer','admin'}