{template 'header'}
<style>
    .icons-list{

    }
    .icons-list a{
        background: #e9ecef;
        width: 96px;
        height: 96px;
        line-height: 96px;
        margin: 5px;
        float: left;
        text-align: center;
        color: #343a40;
        border-radius: 5px;
        font-size: 2rem;
    }
    .icons-list a:hover{
        background: #dee2e6;
    }
    .icons-list span{
        float: left;
    }
    .icons-list-item{
        width: 106px;
        height: 130px;
        margin-bottom: 15px;
        margin-right: 15px;
        overflow: hidden;
        float: left;
    }
</style>
<script>
    function copyToClipboard(str){
        navigator.clipboard.writeText(str).then(function() {
            /* clipboard successfully set */
            toastr.info(str, '复制至剪切板');
        }, function() {
            /* clipboard write failed */
            toastr.info(str, '复制失败');
        });
    }
</script>
<div class="container">
    <h2 class="mt-3 mb-3">图标列表</h2>
    <div class="icons-list">
        {loop $icons $k $v}
        <div class="icons-list-item">
        <a href="javascript:copyToClipboard('{$v[name]}');" title="{$v[title]}"><i class="{$v[name]}"></i> </a>
            <span title="{$v[title]}">{$v[title]}</span>
        </div>
        {/loop}
    </div>
    <div class="clearfix"></div>
</div>

<script src="{DT_STATIC}/admin/js/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="{DT_STATIC}/admin/js/toastr.min.css?v1"/>
{template 'footer'}