{template 'header','admin'}
{template 'navigation','admin'}
<div class="admin-content-wrapper">
    <div class="admin-content-heading">
        <b>基本配置</b><BR>
        后台管理的基本参数配置<BR>
        <div class="b15"></div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0)" data-toggle="tab" data-target="#nav-baseconfig">基本配置</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" data-toggle="tab" data-target="#nav-examplegroup">示例分组</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" data-toggle="tab" data-target="#nav-examplelable">示例标签</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="admin-content-body">
        <div class="container-fluid">

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-baseconfig">基本配置</div>
                <div class="tab-pane fade" id="nav-examplegroup">示例分组</div>
                <div class="tab-pane fade" id="nav-examplelable">示例标签</div>
            </div>

        </div>
    </div>
</div>
{template 'footer','admin'}