{template 'header'}
<div class="container alert alert-secondary">
    Name: {$list[name]}<BR>
    Address: {$list[addr]}
</div>

<div class="body-bg-grey pt-3">
    <div class="container-white-box shadow-sm">
        小BOX
    </div>

    <div class="container-white-item-mb shadow-sm">
        条幅ITEM
    </div>
    <div class="container-white-item-mb shadow-sm max-sm margin-auto">
        条幅ITEM
    </div>
    <div class="container-white-item-mb shadow-sm">
        条幅ITEM<BR>换行
    </div>
    <div class="container">
        container
    </div>
    <div class="container-layer">
        container-layer
    </div>
    <div class="mt-3 clearfix"></div>
    <div class="container-white-item-line">
        条幅ITEM
    </div>
    <div class="container-white-item-dot">
        条幅ITEM
    </div>
    <div class="container-white-item-dash">
        条幅ITEM
    </div>
    <div class="container-white-item">
        条幅ITEM
    </div>
    <div class="b30"></div>
</div>

{template 'footer'}